.mainContainer {
  height: 100%;
  width: 100%;
}

.viewContainer {
  width: 100%;
  padding: 10px 40px;
}
.subView {
  width: 100%;
  height: auto;
  border: 1px solid var(--color-darkMode-hover-white);
  box-shadow: 0 0 5px var(--color-darkMode-hover-white);
  border-radius: 16px;
}
.toolBar {
  display: flex;
}
.toolBar .section {
  width: 100%;
  padding: 20px 20px;
}
.toolBar .section:nth-child(2) {
  width: 20%;
  display: flex;
  justify-content: end;
}
.filterBox {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-darkMode-hover-white);
  border-radius: 8px;
  gap: 10px;
  cursor: pointer;
}
.filterBox span {
  color: var(--color-lightText-primary);
}
.inputContainerMain {
  border: 0.5px solid var(--color-darkMode-hover-white);
  display: flex;
  gap: 10px;
  border-radius: 8px;
  padding: 7px 10px;
  align-items: center;
}
.inputContainerMain input {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
  color: var(--color-lightText-primary);
  font-size: 0.9rem;
}
.icon {
  height: 18px;
  color: var(--color-lightText-secondary);
  cursor: pointer;
}
.userTableContainer {
  padding: 20px;
}
.userTable {
  width: 100%;
}
.specialHeadBox {
  display: flex;
  justify-content: start;
  align-items: center;
}
.dataBox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.specialDataBox {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
}
.specialDataBox .section img {
  height: 40px;
  border-radius: 50%;
}
.specialDataBox .section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.dataHeading {
opacity: 0.9;
  font-size: 0.9rem;
  color: var(--color-lightText-secondary);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.userTable td,
.userTable th {
  padding: 20px;
}
.text {
  opacity: 0.9;
  font-size: 0.9rem;
}
.lightText {
  color: var(--color-greyText-primary);
  opacity: 0.9;
  font-size: 0.9rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.text {
  opacity: 0.9;
  font-size: 0.9rem;
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.positiveText {
  color: var(--color-positive-green);
}
.warningText {
  color: var(--color-warning-orange);
}
.coloredRoundContainer{
  background-color:var(--color-selectedBlue-primary);
  border-radius: 12px;
}