.mainContainer{
    height: 100%;
    width: 100%;
    display: flex;
}
.section{
    width: 100%;
    height: 100%;
    
    
}
.sideBar{
    width: 300px;
    box-shadow: 0 0 1px var(--color-lightText-primary);

}
.mianView{
    overflow-y: scroll;
}
.viewContainer{
    width: 100%;
    padding: 10px 40px;
}
.subView{
    width: 100%;
    height: 500px;
    border: 1px solid var(--color-darkMode-hover-white);
    box-shadow: 0 0 5px var(--color-darkMode-hover-white) ;
    border-radius:16px;
}