.mainContainer {
  height: 100%;
  width: 100%;
}

.viewContainer {
  width: 100%;
  padding: 10px 40px;
}
.toolBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
    gap: 25px;
}
.section{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}
.section:nth-child(2){
    justify-content: end;
    gap: 30px;
}
.backBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.backBtn span{font-size: 1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: var(--color-lightText-primary);
  vertical-align: middle;
}
.icon{
    vertical-align: middle;
    height: 20px;
    color:var(--color-lightText-secondary)
}
.backBtn:hover span,.backBtn:hover .icon{
    color: black;
}
.btn{
    box-shadow: 0 0 1px var(--color-lightText-primary);
    padding: 10px 20px;
    border-radius: 12px;
    background-color: var(--color-ui-blue-primary);
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}
.btn .icon{
    color: white;
    
}
.btnText{
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.btn:nth-child(2){
    color: red;
    background-color: #FFF1F2;
    border: 1px solid var(--color-lightRed);
    box-shadow: 0 0 5px  #FFF1F2;
}