.mainContainerDark{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

   
}
.mainContainerDark{
    background-color: var(--Background-dark-secondary);
   
}
.formContainer{
height: 200px;
width: 400px;
border-radius:10px;
padding: 10px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 25px;

}

.fromContainerDark{
    background-color: var(--Background-dark-primary);
     box-shadow: 0 0 50px var(--color-darkMode-hover-white);
}
.input{
    width: 80%;
    border-radius: 10px;
    display: block;
    outline: none;
    border: none;
    padding:10px 10px;
    font-size: large;
    
}
.inputDark{
    background-color: var(--Background-dark-secondary);
    color: var(--Text-darkMode-primary);
    
}
.inputDark::placeholder{
    color: white;
}
.authBnt{
outline: none;
border: none;
padding: 10px;
font-size: 1rem;
border-radius: 10px;
}