.mainContainer{
    height: 100%;
    width: 100%;
    display: flex;
}
.section{
    width: 100%;
    height: 100%;
    
    
}
.sideBar{
    width: 300px;
    box-shadow: 0 0 1px var(--color-lightText-primary);

}
.mianView{
    overflow-y: scroll;
}
.sectionContainer{
    height: auto;
    padding:0px 40px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    gap: 25px;
}
.sectionContainer div{
   width: calc(100%);
}
.btn {
  outline: none;
  border: none;
  padding: 10px;

  background-color: var(--color-ui-blue-primary);
  color: white;
  border-radius: 8px;
  cursor: pointer;
}
.btn:nth-child(1) {
  background-color: var(--Background-light-primary);
  color: var(--color-greyText-primary);
  border: 1px solid var(--color-darkMode-hover-white);
  margin-right: 25px;
}