.mainContainer{
    height: auto;
    width: 100%;
    border: 1px solid var(--color-darkMode-hover-white);
    border-radius:14px;
    padding: 25px 10px;
}
.mainContainer p {
    font-size: 1.2rem;
    padding: 10px 0px 20px 10px;
}