.mainContainer {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
  align-items: center;
  margin: 18px 40px;
}
.section p {
  text-align: start;
}
.heading {
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.45rem;
  text-align: center;
}
.subheading {
  text-align: center;
  margin-top: 2px;
  font-size: 1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: var(--color-lightText-secondary);
}

