.mainContainer{
    height: auto;
    padding:15px 40px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 1px var(--color-lightText-primary);
    gap: 5px;
}
.section{
    height: auto;
    width: 100%;

}
.inputHolder{
    width: 60%;

}
.inputContainerMain{
  border: 0.5px solid var(--color-lightText-secondary);
    display: flex;
    gap: 10px;
    border-radius: 8px;
    padding: 7px 10px;
    align-items: center;
    
    
}
.inputContainerMain input{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    color: var(--color-lightText-primary);
    font-size: 0.8rem;
}
.icon{
    height: 18px;
    color:var(--color-lightText-secondary);
    cursor: pointer;
}