.mainContainer{
    background-color: var(--Background-dark-primary);
    box-shadow: 0 0 5px grey;
    height: auto;
    padding:0 24px;
    display: flex;
    justify-content: space-between;
}
.logoContainer{
    padding: 20px 0;
}
.logoText{
    font-size: 1.5rem;

}
.logoTextDark{
    color: var(--Text-darkMode-primary);
}
.hidden{
    display: none;
}
.navigation_btn_container{
   display: flex;
   justify-content: space-evenly;
   align-items: center;    
}
.btndark{
    background-color: var(--Background-dark-primary);
    color: var(--Text-darkMode-primary);
    box-shadow: none;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    margin: 0 10px;
}
.btndark:hover{
    color:var(--color-darkMode-hover-white)
}