.mainContainer{
    max-width: 300px;
    height: auto;
    border-radius: 16px;
    position: relative;
  overflow: hidden;
  box-shadow: 0 0 4px var(--color-lightText-primary);
  margin-bottom: 30px;
}
.floating{
    background-color: white;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    position:absolute;
    background-color: var(--Background-dark-primary);
    color: white;
    padding: 7px 10px;
    border-radius: 8px;
    left:10px;
    top: 10px;
    font-size: 0.8rem;
}
.img{
    width: 100%;
    height: 350px;
    object-fit: cover;
}
.caption{
   
  color: var(--color-greyText-primary);
  font-size: 0.85rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 5px 10px;

}
.statsContainer{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 20px;
    gap: 10px;
}
.section{
    width: 100%;
}
.statsContainer .section span{
    display: inline-block;
}
.section:nth-child(2){
    width: 40%;
}
.text{
  color: var(--color-greyText-primary);
  font-size: 0.6rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;


}
.icon{
    height: 18px;
    color:var(--color-lightText-secondary);
    vertical-align: middle;
    display: inline-block;

}
.section:nth-child(1) span{
    margin-right: 7%;

}