.mainContainer{
    padding: 25px 10px;
    width: 300px;
}
.topBar{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0px 10px;
    transition: all 0.1s ease;
    cursor: pointer;
    margin-bottom: 25px;
    
}

.section{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 10px;
    transition: all 0.1s ease;
    cursor: pointer;
}

.sectionActive{
background-color:var(--color-selectedBlue-primary);

}
.section:hover{
    background-color:var(--color-selectedBlue-primary);
color: var(--color-ui-blue-primary);
} 
.section:hover .icon{
    color: black
}
.section:hover .routeName{
    color: black;
}
.ShieldAlert{
    color: white;
    background-color: var(--color-ui-blue-primary);
    height: 38px;
   width: auto;
   padding: 8px;
    border-radius: 12px;
    align-content: center;

}
.heading{
    font-size: 1.2rem;
}
.routeName{
    color: var(--color-greyText-primary);
    opacity: 0.9;
    font-size: 0.9rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.icon{
    height: 18px;
    color:var(--color-lightText-secondary)
}
.iconActive{
    color: var(--color-ui-blue-primary);
}
.routeActive{
        color: var(--color-ui-blue-primary);
}
.bottomSection{
    position: absolute;
    bottom: 0;
    height: auto;
    width: 300px;
    left: 0;
    height: auto;
}
.profileContainer{
    background-color: red;
    overflow: hidden;
    border-radius: 50%;
    height: 40px;
    width: 40px;

}
.profileImage{
    height: auto;
    width: auto;
    
}
.darkText{
    color: black;
    font-weight: bold;
}