.mainContaienr {
  width: 100%;
  box-shadow: 0 0 4px var(--color-lightText-primary);
  border-radius: 16px;
  margin-top: 30px;
  overflow: hidden;
}
.sectionTop {
  height: 150px;
  width: 100%;
  background-image: linear-gradient(45deg, #645dff, #8145fe, #9815fb);
}
.avatarContainer {
  padding: 4px;
  background-color: white;
  border-radius: 16px;
  display: inline-block;
  position: relative;
  top: 100px;
  left: 40px;
  box-shadow: 0 0 1px var(--color-lightText-primary);
}
.avatar {
  width: 100px;
  border-radius: 12px;
}

.infoStripTop {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 50px;
  padding: 10px 40px;
}
.heading {
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.4rem;
  text-align: center;
}
.heading3 {
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.7rem;
  text-align: center;
}
.subheading {
  text-align: center;
  margin-top: 4px;
  font-size: 0.9rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: var(--color-lightText-primary);
}

.sectionContainer {
  display: flex;
  justify-content: space-between;
  padding: 25px 50px;
  gap: 40px;
}
.sectionContainer .section {
  width: 100%;
  height: auto;
}
.sectionContainer .section:nth-child(2) {
  width: 30%;
}
.subheading2 {
  text-align: start;
  margin-top: 15px;
  font-size: 0.9rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: var(--color-lightText-primary);
}
.positiveText {
  font-weight: 700;
  color: var(--color-positive-green);
}
.warningText {
  font-weight: 700;
  color: var(--color-warning-orange);
}
.text {
  opacity: 0.9;
  font-size: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.healthContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.shield {
  color: var(--color-ui-blue-primary);

  margin-left: 10px;
}
.nameStrip {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
.accessInfoText {
  padding: 10px 0px;
  margin-top: 15px;
  text-align: start;

  font-size: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--color-lightText-primary);
}
.icon{
    height: 18px;
    color:var(--color-lightText-secondary);
    vertical-align: middle;

}
.infoStripBottom{
display: flex;
align-items: center;
gap: 50px;
padding: 10px 40px;
margin-top: 25px;
    
}
.Infosection{
    display: flex;
    justify-content: center;

  font-size: 1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #181919;
}
.Infosection .icon2{

  margin-top: 4px;
  color: var(--color-lightText-primary);
    margin-right: 10px;
    height: 17px;
    vertical-align: middle;

}
.Infosection:nth-child(2){
    cursor: pointer;
    text-decoration: none;

}
