*{
margin:0;
padding:0;
box-sizing:border-box;  
}
:root{
    --Background-dark-primary:#3B3D40;
    --Background-dark-secondary:#67696C;
    --Background-light-primary:#FFFFFF;
    --Background-light-secondary:#F8FAFC;
    --Text-darkMode-primary:white;
    --color-darkMode-hover-white:#D5D6D7;
    --color-ui-blue-primary:#4F39F6;
    --color-lightText-primary:#627695;
    --color-lightText-secondary:#90A1B9;
    --color-greyText-primary:#45556C;
    --color-selectedBlue-primary:#EEF2FF;
}
#root{
    height: 100vh;

}
.hide-scroll {
  /* For IE and Edge Legacy */
  -ms-overflow-style: none;

  /* For Firefox */
  scrollbar-width: none;

  /* Hide the scrollbar while still allowing the element to scroll */
  overflow: auto;
}

/* For WebKit/Blink (Chrome, Safari, Opera, Edge) */
.hide-scroll::-webkit-scrollbar {
  display: none;
}
